<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title></title>
    <link href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">
    <style>

        .ng-cloak { display: none }

        .container {
            margin-top: 1rem;
            max-width: 40rem;
        }

        .table {
            margin-top: 2rem;
        }

        .table td:nth-child(3) {
            width: 5rem;
        }

    </style>

</head>

<body class="bg-light" class="ng-cloak" ng-app="order" ng-controller="PostCtrl as vm">

<div class="container">

    <div class="alert alert-danger" role="alert" ng-if="vm.errors.length">
        <div ng-repeat="error in vm.errors track by $index">
            {{ error }}
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   ng-model="vm.newPost.title"
                   id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text"
                   ng-model="vm.newPost.text"
                   id="text" class="form-control">
        </div>

        <button type="submit"
                ng-click="vm.insertNew()"
                class="btn btn-primary">Add</button>

    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in vm.posts">
            <td>{{ post.title }}</td>
            <td>{{ post.text }}</td>
            <td><button
                    ng-click="vm.deletePost(post.id)"
                    class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/http.srv.js"></script>
<script src="app/message.srv.js"></script>
<script src="app/post.ctrl.js"></script>


</html>
